<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
</head>
<body>
    <script>
    </script>

    <input id="id" type="text" placeholder="아이디"><Br>
    <input id="password" type="text" placeholder="비밀번호"><Br>
    <button>로그인해주세요1</button>

    <div></div>
</body>
</html>